body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: #e2e2e2;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.lesson-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.lesson-form input[type="text"],
.lesson-form input[type="datetime-local"],
.lesson-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lesson-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
}

.lessons-container {
    padding: 20px;
}

.lesson {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.lesson p {
    margin: 5px 0;
}

.lesson form {
    display: flex;
    justify-content: space-between;
}

.lesson form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px;
    background-color: #333;
    border: 1px solid #007bff;
    border-left: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#search-button i {
    font-size: 18px;
}

#search-button:hover {
    background-color: #0056b3;
}