/* signup.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: calc(100% - 30px); /* Adjust width to accommodate the icon */
  padding: 10px 10px 10px 30px; /* Adjust padding to provide space for the icon */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field input:focus {
  outline: none;
  border-color: #007bff;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #666; /* Adjust icon color */
}

.btn-field input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-field input[type="submit"]:hover {
  background-color: #0056b3;
}

.switch-form {
  text-align: center;
}

.switch-form a {
  color: #007bff;
  text-decoration: none;
}

.switch-form a:hover {
  text-decoration: underline;
}
